
.open-sans-all {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav section */
.nav{
    display: flex;
}
.name{
    font-size: 45px;
    font-weight: 800;
}
.name-a{
    color: #FD6E0A;
}
